@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background: #ffffff;
  --color-foreground: #121212;
  --color-primary: #E5E7EB; /* A neutral primary, Botika focuses on accent */
  --color-secondary: #6B7280; /* A muted secondary */

  /* Botika-inspired accent colors */
  --color-primary-accent: #9333EA; /* Vibrant purple */
  --color-foreground-accent: #A855F7; /* Lighter purple for subtle highlights */
  --color-hero-background: linear-gradient(180deg, #E5E7EB 0%, #ffffff 100%); /* Subtle gradient for hero */
}

html {
  @apply scroll-smooth;
}

body {
  @apply text-lg;
  
  color: var(--color-foreground);
  background: var(--color-background);
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .animate-bounce-slow {
    animation: bounce 3s infinite;
  }
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(-5%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.manrope {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

#logos svg {
  @apply w-fit h-10 sm:h-12;
}

.benefit-section:last-of-type > div {
  @apply mb-10;
}

